@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#rays { /* with animation properties */
	background: 'green'; 
	position: absolute; 
	top: -100px; 
	left: -100px; 
	width: 490px; 
	height: 490px; 
	
	/* microsoft ie */
	/* animation-name: spin;  */
	animation-duration: 40000ms; /* 40 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}

#rays:hover {
	/* animation-duration: 10000ms; 10 seconds - speed it up on hover! */
	/* resets the position though!  sucks */
}

  .bg-gradient-blur-container{
    position: absolute;
    /* background-color: red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 70vmin;
    height: 70vmin;
  }

  .bg-gradient-blur-wrapper {
    animation-name: spin; 
	animation-duration: 10000ms;
	animation-iteration-count: infinite; 
	animation-timing-function: linear;

    /* background-color: green; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    -webkit-filter: blur(200px);
    filter: blur(200px);
  }

  .bg-gradient-blur-circle-1 {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 70%;
    max-height: 70%;
    min-height: 70%;
    min-width: 70%;
    border-radius: 1000000px;
    background-color: #6e4fe9;
  }

  
  .bg-gradient-blur-circle-2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    max-height: 70%;
    min-height: 70%;
    min-width: 70%;
    border-radius: 1000000px;
    background-color: #2d42ff;
  }

  .bg-gradient-blur-circle-3 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70%;
    max-height: 70%;
    min-height: 70%;
    min-width: 70%;
    border-radius: 1000000px;
    background-color: #ff4895;
  }
